/* Move down content because we have a fixed navbar that is 50px tall */
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.bodycontent{
    background-image:url(../Images/anasayfa.jpg);
    background-size:cover;
    height:100%;
    background-position:center;
    margin:0;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}
.headerAnaSayfa{
   font-family:'Bookman Old Style';
   text-align:center;
   width:100%;
   color:black;
   margin-top:20px;
   margin-bottom:20px;
}
.linkMenu{
    margin-left:50px;
}
.linkMenu table td{
    border:1px solid black;
    display:inline-block;
    padding:5px;
    margin:10px;
    border-radius:20%;
    width:100px;
    background-color:rgba(61, 11, 127, 0.2);
    
}
.linkMenu table td:hover{
    background-color:rgba(61, 11, 127, 0.4);
}
.linkMenu a{
    color:chocolate;
    font-size:30px;
    display:inline-block;
    text-decoration:none;
    cursor:pointer;
    margin-left:20px;
    
}
.linkMenu a:hover{
    color:aqua;
    text-decoration:none;
}
.anaSayfaDiv1 {
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Berlin Sans FB';
    border-radius: 10px;
    margin-top: 10px;
    height: 300px;
}

.divLogin {
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px groove #ffd800;
    background-color: black;
    width: 80%;
    margin: 30px;
    margin-left: 40px;
}
.loginForm {
    background-color: #808080;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:5px;
}
.loginInput{
    margin:5px;
}
.inputText{
    border:none;
    font-size:10px;
    background-color:aqua;
    height:30px;
    width:100%;
}
.inputText:focus{
    background-color:bisque;
}
.inputTextArea {
    border: none;
    font-size: 10px;
    background-color: aqua;
    width: 100%;
}
.inputTextArea:focus {
        background-color: bisque;
    }
.divRegister {
    padding: 20px;
    background-color: #087092;
    width: 80%;
    margin: 20px;
    margin-left:40px;
    position: relative;
}
.divRegisterContent {    
    background-color: white;
    margin: 20px;
    box-shadow: 0 14px 18px 0 rgba(255, 0, 0, 0.2), 0 16px 20px 0 rgba(255, 0, 0, 0.2);
}

.RegisterButton {
margin-left:15%;
}
.registerExit a:hover {
    text-decoration: none;
    color: aqua;
}
.RegisterButton {
    width: 70%;
    margin-left: 15%;
}
.siparisForm {
    background-color: aliceblue;
    margin-left: 20%;
    padding: 10px;
    width: 60%;
    margin-top: 20px;
    box-shadow: 0 14px 18px 0 rgba(61, 11, 127, 0.2), 0 16px 20px 0 rgba(61, 11, 127, 0.2);
}
.LogoutButton{
    border:none;
    background:none;
    color:blue;
    width:50px;
    font-size:10px;
}
.kullaniciInfo{
    color:black;
    font-size:14px;
    font-family:'Times New Roman', Times, serif;    
    padding:5px;
}
.kullaniciInfo a{
    color:#ee1169;
    text-decoration:none;
}
.kullaniciInfo a:hover{
    color:aquamarine;
}
.UpdateLabel {
    text-align: center;
    color: #ee1169;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.DamacanaMiktar {
    width: 30%;
    border: none;
    font-size: 10px;
    background-color: aqua;
    height:20px;
}
.BayiDropdownList{
    background-color:#ee1169;
}
.BayiDiv {
    width: 90%;
    margin: 30px;
    padding: 30px;
    box-shadow: 0 12px 24px 0 rgba(255, 99, 71, 0.5), 0 18px 60px 0 rgba(255, 99, 71, 0.5);
    border-radius: 10px;
    background: url("../Images/BayiBackground.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height:inherit;
}
.BayiDiv table td{
    background-color:aqua;
    color:black;
    font-size:12px;
    font-family:'Comic Sans MS';
}
.BayiDivButton {
    background-color:aqua;
    border:1px solid red;
    color:black;
}
.BayiDiv a {
    margin:5px;padding:5px;
    color: wheat;
    font-size: 12px;
    font-family: 'Comic Sans MS';
    text-decoration: none;
    border:1px solid white;
}
.BayiDiv a:hover{
    color:black;
}
.siparisDetay {
    width: 80%;
    height:600px;
    margin: 30px;
    padding: 30px;
    box-shadow: 0 12px 24px 0 rgba(255, 99, 71, 0.5), 0 18px 60px 0 rgba(255, 99, 71, 0.5);
    border-radius: 10px;
    background:url("../Images/siparislerimBackground.jpeg");
}
.siparisDetay ul{
    list-style-type:none;
    padding:20px;
}
.siparisDetay li{
    margin:10px;
    padding:10px;
    border:1px solid #03b52d;
    background-color:rgba(0, 0, 0, 0.19);
    font-size:12px;
    font-family:'Times New Roman';
    opacity:0.2;
}
.siparisDetay a {
        margin: 5px;
        padding: 5px;
        color: #067c4d;
        font-size: 12px;
        font-family: 'Comic Sans MS';
        text-decoration: none;
        border: 1px solid white;
        background-color:bisque;

}
.siparisDetay a:hover{
    color:black;
    background-color:aliceblue;
}
.siparisLabel {
    margin: 10px;
    padding: 10px;
    border: 1px solid #03b52d;
    background-color: rgba(0, 0, 0, 0.19);
    font-size: 12px;
    font-family: 'Times New Roman';
    opacity: 0.3;
}
.siparisLabel2 {
    margin: 10px;
    padding: 10px;
    border: 1px solid #03b52d;
    background-color: rgba(0, 0, 0, 0.19);
    font-size: 12px;
    font-family: 'Times New Roman';
    opacity: 1;
}

.yukleButon {
    background-color: rgba(255, 0, 0, 0.2);
    border: none;
    width: 100px;
    font-size: 12px;
    font-family: 'Comic Sans MS';
}

#PagerYorum{
    color:black;
    font-size:18px;
}
#PagerYorum:hover{
    color:red;
    text-decoration:none;
}
tr,td,table{
    padding:10px;
    margin:10px;
}
